.hover_visibility {
  transition: all 0.5s ease-in-out;
}
.dress_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
}
.dress_menu_category {
  border-right: 1px solid rgb(225, 217, 217);
}
.dress_menu_category .links .link {
  font-size: small;
  font-weight: 400;
  line-height: 1rem;
}
.dress_menu_product_image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
}
.dress_menu_product_image a img {
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
}
