body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:rote {
  --box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --border-modal: 1px solid hsla(0, 0%, 5%, 0.2);
  --back-c-primary: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  :hover {
    color: inherit;
  }
}

h1,
h2,
h3,
h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

footer {
  margin-top: auto;
}
.fonts_license {
  display: none;
}

.main-container {
  max-width: 125rem;
  width: 90%;
  margin: 0 auto;
}

.disabled-link {
  pointer-events: none;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.d-flex {
  display: flex;
}

.btn {
  backdrop-filter: saturate(180%) blur(1rem);
  color: var(--c-secondary);
  border-radius: 6rem;
  box-shadow: 0 0 2rem var(--color-black-20);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  padding: 8px 20px;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  font-family: GT, Helvetica, serif;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--c-secondary) !important;
  transform: translateY(-0.5rem) !important;
  color: var(--c-primary) !important;
}
