body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:rote {
  --box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --border-modal: 1px solid hsla(0, 0%, 5%, 0.2);
  --back-c-primary: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

footer {
  margin-top: auto;
}
.fonts_license {
  display: none;
}

.main-container {
  max-width: 125rem;
  width: 90%;
  margin: 0 auto;
}

.disabled-link {
  pointer-events: none;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
